<div class="card">
    <div class="card-header flex-row justify-space-between">
        <h2>
            <a href="/post/{{id}}">
                <div class="col-8">{{post_title}}</div>
            </a>
        </h2>
        <div class="col-4">By: {{user.username}} on {{format_date created_date}}</div>
    </div>
    <p class="card-body">{{post_body}}</p>
</div>