  <h1 class="title">{{posts.title}}</h1>
<div class="renderView" >
  <p>{{posts.description}}</p>
  <div class="postFooter"><p>Created by {{posts.user.name}} on {{format_date posts.date_created}}</p></div>
          
  {{#each posts.comments as |comments|}}
    <div>
        <p>{{comments.comment}}</p> 
        <div class="postFooter"><p>Comment by {{comments.user.name}} on {{format_date comments.date_created}}</p></div> 
    </div>
  {{/each}}
</div>


 <form class="form addCommentForm" id="{{posts.id}}" >
      <div class="form-group">
        <label for="blogComment">Comment:</label>
        <textarea class="form-input" id="blogComment" name="blogComment"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary add-button"  id="{{posts.id}}">Add Comment</button>
      </div>
</form>


<script src="/public/js/comments.js"></script>
